doctype html
html
    head
        title SitSimple
        link(rel='stylesheet', href='/styles/base.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        include sections/header.pug

        include sections/hero-banner.pug

        include sections/footer.pug


script(src='/scripts/global.js')
