doctype html
html
    head
        title SitSimple1
        link(rel='stylesheet', href='/styles/base.css')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        h1 Welcome to SitSimple!
        p This is a simple text displayed on the screen.

        script(src='/scripts/global.js')
