link(rel='stylesheet' href='/styles/section-header-drawer.css')
.header__mega-menu
    ul.list-menu.list-menu--inline(role="list")
        li.list-menu__first-level
            a.header__menu-item.list-menu__item.link.focus-inset(href="/home")
                span Home
        li.list-menu__first-level
            a.header__menu-item.list-menu__item.link.focus-inset(href="/list-your-restaurant")
                span List Your Restaurant
        li.list-menu__first-level
            a.header__menu-item.list-menu__item.link.focus-inset(href="/book-your-table")
                span Book Your Table
    div.mega-menu__footer
        a.header__menu-item.list-menu__item.link.login(href="/login")
            span Login
